/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of CSS reset */

.App {
  text-align: center;
}_

.App_header {
}

.App_title {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  font-size: 45px;
}

.App_intro {
  padding: 20px;
  font-size: 25px;
}

.search_email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.loading {
  height: 50px;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.not_loading {
  display: none;
}
/*
 *Styling for AutoSuggest Searchbar and results
 */
.react-autosuggest__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  max-width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 20px 5px 10px;
}

.app_img {
  width: 35px;
  height: 35px;
}
.app_name {
  padding-left: 10px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

/*
 *Styling for Email input
 */
.email_entry {
  display: flex;
  padding: 0px 10px 0px 10px;
  flex-direction: column;
}

.email_send {
  flex-direction: row;
}

.email_input {
  width: 140px;
  height: 20px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.email_button {
  width:50px;
  height:30px;
  font-weight:100;
  border-radius:4px;
  border:1px solid #aaa;
  background-color: lightyellow;
  margin: 5px;
}

.email_confirm {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 20px;
  color: red;
}

/* ===== == = === 20em - 30em (320px - 480px) === = == ===== */

@media only screen and (min-width : 20em) and (max-width : 30em) {

  .App_title {
    font-size: 35px;
    padding: 10px;
  }

  .App_intro {
    font-size: 20px;
    padding: 10px;
  }

  .email_confirm {
    padding: 10px;
  }

  .search_email {
    flex-direction: column;
    padding: 30px;
  }

  .email_entry {
    padding: 5px 0px 5px 0px;
  }

  .email_input {
    width: 120px;
    height: 15px;
    padding: 5px 10px;
    font-size: 12px;
  }

  .email_button {
    height: 20px;
  }

  .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    top: 36px;
    max-height: 250px;
    overflow-y: scroll;
  }
  .react-autosuggest__input {
    height: 15px;
  }
}
